@import "../variables/variables";
@import "../sass2/extends";
@import "../sass2/mixins";

/*Estilo Seccion Nosotros*/

#somos-pireef{
    background-image: url(../multimedia/caracteristicas.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 82.1vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


#somos-pireef .contenedor{
    text-align: center;
    padding: 148px 12px;
    display: flex;
    justify-content: space-evenly;
}

#somos-pireef .texto{
    width: 50%;
    text-align: initial;
    max-width: 600px;
    padding-left: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#somos-pireef h2{
    margin-top: 0px;
    font-size: 4em;
    font-family: 'Boogaloo', cursive;
    color: blueviolet;
}

.color-acento{
    color: yellow;
}

#somos-pireef .img-container{
    background-image: url("../multimedia/soas.jpg");
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 400px;
}

.bienvenida{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: rgb(245,245,245);
}

.bienvenida-2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: rgb(245,245,245);
}

@media screen and (max-width: 657px){
    .contenedor{
        width: 100%;
    }
}